.birdle{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    justify-content: center;
}

.guessBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    justify-content: center;
    
    width: 85vw;
}

.columns {
    display: grid;
    grid-template-columns: repeat(6, minmax(0, 1fr));
    grid-gap: 1px;
    
    width: 85vw;
}

.label {
    justify-self: center;
    text-align: center;
    
    font-size: 1.5rem;
}

button {
    background-color: var(--matcha-secondary);
    border-radius: 0.75rem;
}
